.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.grid {
  width: 100%;
  margin-top: 20px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.gridItem {
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
