.quote-card {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 49px,
    rgba(0, 0, 0, 0.1) 50px,
    rgba(0, 0, 0, 0.1) 51px */
  /* ); */
  pointer-events: none;
}

.quote-card .text-ar {
  font-family: "Amiri", serif; /* Шрифт для арабского текста */
}

.quote-card .author {
  font-family: "Montserrat", sans-serif; /* Шрифт для имени автора */
}
