*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Корневые переменные */
:root {
  /* Цвета */
  --color-primary: #686cdf;
  --color-secondary: #4a90e2;

  /* Типографика */
  --font-arabic: "Scheherazade New", "Amiri", serif;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
